*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
    position: relative;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

#outer-left{
    height: 500%;
    /* overflow-x: scroll; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #f4f4f4;
}

#outer-right{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81ac9d;
    flex-direction: column;
}

#download{
    position: relative;
    top: -9rem;
    left: 13rem;
}

a{
    font-weight: lighter;
}

#button{
    font-family: 'Itim', cursive;
    font-size: 1rem;
    height: 2.5rem;
    width: 9rem;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s all;
    border-radius: 1rem;
}

#button:hover{
    background-color: white;
    color: black;
}

#image{
    height: 50%;
    width: 40%;
}

#profile-pic{
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
}


#icons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    top: -4rem;
    left: -13rem;

}

.icon{
    font-size: 2rem;
    margin: 0.8rem;
}

.icon a{
    color: white;
}


#cv{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    position: relative;
    bottom: 6rem;
    color: #182c00;
}



#intro{
    height: 500px;
    width: 75%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 20px;

}

#intro #p{
    text-align: left;
    font-family: 'Itim', cursive;
    color: grey;
    font-size: 1.1rem;
}

#name{
    font-size: 10rem;
    margin-bottom: 6rem;
    color: #81ac9d;
    font-family: 'Itim', cursive;
}

#small-about{
    text-align: justify;
    width: 70%;
    font-family: 'Itim', cursive;
    color: grey;
    font-size: 1.3rem;
}



/* Animation */

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    font-weight: 100;
    animation: typing 3s steps(100, end) infinite;
    margin-top: 2rem;
    font-size: 10rem;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 25% }
}



.card{
    height: 500px;
    width: 75%;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}


.small-intro{
    margin-top: 1rem;
    text-align: center;
    height: 5%;
    width: 40%;
    /* border: 2px solid  #81ac9d; */
    border-radius: 10px;
    font-family: cursive;
    background-color:  #81ac9d;
    color: white;
    box-shadow : 0 5px 10px rgb(72, 71, 71);
    font-size: 1rem;
    font-family: 'Itim', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}



.content-card{
    height: 70%;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 4rem;
}


.date{
    font-family:'Itim', cursive ;
    height: 10%;
    width: 25%;
    border: 2px solid  #81ac9d ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    color: grey;
}


.iiit ul{
    list-style: none;
    font-family:'Itim', cursive ;
    font-size: 1rem;
    color: grey;
}

.first-li{
    font-size: 1.4rem;
}
ul a{
    color: grey;
    text-decoration: none;
}


#second-edu-date{
    margin-top: 4rem;
}

#edu-card{
    height: 450px;
}






@media  (max-width:1600px) {
    #download{
        top: -7rem;
        left: 11rem;
    }
    #cv{
        bottom: 5rem;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 27% }
    }
    #name{
        font-size: 2.1rem;
        margin-bottom: 7rem;
    }
    #small-about{
        font-size: 1.2rem;
        text-align: justify;
        width: 90%;
    }
    
}


@media  (max-width:1300px) {
    #download{
        top: -7rem;
        left: 8rem;
    }
    #cv{
        bottom: 4rem;
    }
    #image {
        height: 45%;
        width: 50%;
    }
    
}


@media  (max-width:1000px) {
    #download{
        top: -5rem;
        left: 5rem;
    }

    #icons{
        top: -2rem;
        left: -6rem;
    }
    #cv{
        bottom: 3rem;
    }
    #name{
        font-size: 2rem;
    }
    #small-about{
        font-size: 1rem;
        text-align: justify;
        width: 90%;
    }
    @keyframes typing {
    from { width: 0 }
    to { width: 29% }
    }
    #intro{
        height: 400px;
        width: 90%;
    }
    .card{
        height: 400px;
        width: 90%;
    }
    #image {
        height: 45%;
        width: 70%;
    }
    .small-intro{
        font-size: 0.8rem;
    }
    .date{
        font-size: 0.7rem;
    }
    .iiit ul{
        font-size: 0.8rem;
    }
    .first-li{
        font-size: 1rem;
    }
    
}








@media  (max-width:600px) {
    body{
        /* height: 3000px; */
        flex-direction: column-reverse;
        /* position: static; */
    }
    #outer-left{
        width: 100%;
    }
    #outer-right{
        width: 100%;
        position: static;
    }
    #intro{
        height: 300px;
        width: 90%;
    }
    .card{
        height: 300px;
        width: 90%;
    }
    #download{
        top: -2rem;
        left: 0;
    }
    #icons{
        top: -2.5rem;
        left: 0rem;
    }
    #image {
        height: 45%;
    }
    #name{
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    #intro #p{
        font-size: 1rem;

    }
    @keyframes typing {
        from { width: 0 }
        to { width: 45% }
    }
    #small-about{
        font-size: 0.8rem;
        text-align: justify;
        width: 90%;
    }
    .small-intro{
        font-size: 0.7rem;
        width: 40%;
    }
    .date{
        font-size: 0.7rem;
    }
    .iiit ul{
        font-size: 0.8rem;
    }
    .first-li{
        font-size: 1rem;
    }
    
}



