*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
    position: relative;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

#outer-left{
    height: 500%;
    /* overflow-x: scroll; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #f4f4f4;
}

#outer-right{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81ac9d;
    flex-direction: column;
}

#download{
    position: relative;
    top: -9rem;
    left: 13rem;
}

a{
    font-weight: lighter;
}

#button{
    font-family: 'Itim', cursive;
    font-size: 1rem;
    height: 2.5rem;
    width: 9rem;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s all;
    border-radius: 1rem;
}

#button:hover{
    background-color: white;
    color: black;
}

#image{
    height: 50%;
    width: 40%;
}

#profile-pic{
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
}


#icons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    top: -4rem;
    left: -13rem;

}

.icon{
    font-size: 2rem;
    margin: 0.8rem;
}

.icon a{
    color: white;
}


#cv{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    position: relative;
    bottom: 6rem;
    color: #182c00;
}



#intro{
    height: 500px;
    width: 300px;
    border: 1px solid black;

}





.card{
    height: 20rem;
    width: 20rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
}















@media  (max-width:1600px) {
    #download{
        top: -7rem;
        left: 11rem;
    }
    #cv{
        bottom: 5rem;
    }
    
}


@media  (max-width:1300px) {
    #download{
        top: -7rem;
        left: 8rem;
    }
    #cv{
        bottom: 4rem;
    }
    
}


@media  (max-width:1000px) {
    #download{
        top: -5rem;
        left: 6rem;
    }

    #icons{
        top: -2rem;
        left: -6rem;
    }
    #cv{
        bottom: 3rem;
    }
    
}





@media  (max-width:700px) {
    body{
        /* height: 3000px; */
        flex-direction: column-reverse;
        /* position: static; */
    }
    #outer-left{
        width: 100%;
    }
    #outer-right{
        width: 100%;
        position: static;
    }
    #download{
        top: -2rem;
        left: 0;
    }
    #icons{
        top: -2.5rem;
        left: 0rem;
    }
    #image {
        height: 45%;
        width: 55%;
    }
    
}



